*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: $font-family;
}

body{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 124rem;
}

h1,h2,h3,h4,h5{
  font-family: $font-family;
  font-weight: $weight-medium;
  margin: 0;
}

h1{
  font-size: $size-h1;

  @media all and (max-width: $media-s) {
    font-size: $size-h1-mob;
  }
}

h2{
  font-size: $size-h2;

  @media all and (max-width: $media-s) {
    font-size: $size-h2-mob;
  }
}

h3{
  font-size: $size-h3;

  @media all and (max-width: $media-s) {
    font-size: $size-h3-mob;
  }
}

h4{
  font-size: $size-h4;

  @media all and (max-width: $media-s) {
    font-size: $size-h4-mob;
  }
}

p{
  font-size: $size-p;

  @media all and (max-width: $media-s) {
    font-size: $size-p-mob;
  }
}
