@import "./fonts.scss";
@import "./variables.scss";
@import "./common.scss";
@import "./header.scss";
@import "./logo.scss";
@import "./nav.scss";
@import "./btn.scss";
@import "./menu.scss";
@import "./icon.scss";
@import "./link.scss";
@import "./heading.scss";
@import "./section.scss";
@import "./card.scss";
@import "./info_card.scss";
@import "./team.scss";
@import "./swiper.scss";
@import "./contact-form.scss";


//@use "fonts";
//@use "variables";
//@use "common";
//@use "header";
//@use "logo";
//@use "nav";
//@use "btn";
//@use "menu";