.info{
  display: flex;
  align-items: center;
  border-radius: 40px;
  width: 100%;
  max-width: 125rem;
  min-height: 31rem;
  background-color: $color-dark;

  &_card{
    color: $color-white;
    padding: 70px 0;
  }

  &__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #ffffff;
    padding: 0 64px;

    &:last-child {
      border-right: none;
    }

    .link{


      &__decor{
        width: 0;
        height: 0;
        margin-left: 10px;
      }
    }
  }

  &__link{
    display: flex;
  }

  &_link-text{
    color: $color-green;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //gap: 25px;
    border-radius: 4.5rem;
    border: 1px solid $color-dark;
    box-shadow: 0 5px 0 0 $color-dark;
    width: 100%;
    padding: 5rem;
  }

  &_item_bg_green{
    background-color: $color-green;
  }

  &_item_bg_white{
    background-color: $color-white;
  }

  &__item-h1{
    margin: 0;
    font-size: 60px;
  }

  &__item-h2{
    margin: 0;
    margin-left: 25px;
    font-size: 30px;
  }

  &__btn{
    margin-left: auto;
    border: none;
    background-color: $color-green;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  &__btn-white{
    margin-left: auto;
    border: none;
    background-color: $color-white;
  }

  &__line {
    width: 100%;
    border: none;
    border-top: 1px solid #000;
    margin: 15px 0;
  }

  &__item p{
    width: 100%;
    margin-right: 15px;
    margin-top: 15px;
  }


  .info__header {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;  /* показывает что можно кликнуть */
  }

  .info__item-h1 {
    margin: 0;
    margin-right: 15px;
  }

  .info__item-h2 {
    margin: 0;
    flex: 1;  /* занимает оставшееся пространство */
  }

  &__content{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  p {
    margin-top: 0; // ✅ чтобы не было отступа сверху
  }


  &__item.active &__content {
    max-height: 1000px; /* больше чем может быть контент */
  }
}



