.menu{
  width: 2.4rem;
  display: none;
  margin-left: auto;
  position: relative;
  z-index: 2;

  @media all and (max-width:$media-m){
    display: block;
    margin-right: 4rem;
  }

  @media all and (max-width:$media-s){
    display: block;
    margin-right: 2rem;
  }
}

