.menu{
  width: 2.4rem;
  display: none;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  z-index: 2;

  @media all and (max-width:$media-m){
    display: block;
    margin-right: 4rem;
  }

  @media all and (max-width:$media-s){
    display: block;
    margin-right: 2rem;
  }

  &__popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: $color-green;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    min-width: 200px;
    z-index: 1000;
  }

  &__popup.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__link{
    text-decoration: none;
    color: inherit;
    padding: 8px 0;
    font-size: 2rem;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #000;
    line-height: 1;
    padding: 0;
    width: 30px;
    height: 30px;
  }

  .menu__link:hover {
    opacity: 0.7;
  }
}


