.nav {
  display: flex;
  font-size: 20px;
  gap: 40px;
  align-items: center;
  margin-left: auto;
  @media(max-width: 1200px) {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: white;
    row-gap: 40px;
    padding: 100px 60px 40px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    z-index: 1;

    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  @media(max-width: 500px) {
    max-width: 100%;
  }

  &_search {
    transform: translateX(0);
    transition: all 0.3s ease-in;
  }

  &__link {
    text-decoration: none;
    color: black;
    flex-shrink: 0;
  }
}