.team{
  &__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:4rem;
  }

  &__member{
    border-radius: 4.5rem;
    border: 1px solid $color-dark;
    box-shadow: 0 5px 0 0 $color-dark;
    padding: 40px;
    margin-bottom: 40px;
    @media(hover: hover){
      transition: all 0.3s ease-out;

      &:hover,
      &:active{
        box-shadow: 0 1px 0 0 $color-dark;
      }
    }

    max-width: 387px;
    max-height: 331px;
  }

  &__header{
    position: relative;
  }

  &__item-h2{
    font-size: 20px;
    font-weight: 550;
  }

  &__item-h3{
    font-size: 18px;
    font-weight: normal;
  }

  &__btn{
    position: absolute;
    top: 0;
    right: 0;
    //margin-left: auto;
    border: none;
  }

  &__line{
    width: 100%;
    height: 3px;
    background-color: $color-black;
    margin: 30px 0;
  }
}